{% extends "base.html" %}

{% block content %}

<div class="container">

    <p>This is a website for anyone who wants to express their views on a particular game or movie, 
        you are free to make any reviews as long as you do not use vulgular terms.
    </p>

    {% if session['username'] %}
    <br>
    <p>Hello {{ session['username'] }}</p>

    <a href="/add"><button>Add Review</button></a>
    
    {% endif %}


</div>

<br>

<table class="review_table">

    <thead>
        <th>Username</th>
        <th>Movie or Game</th>
        <th>Name</th>
        <th>Rating</th>
        <th>Review</th>
    </thead>

    <tbody>
        {% for game in Reviews %}
        <tr>
            <td>{{ game['username'] }}</td>
            <td>{{ game['type'] }}</td>
            <td>{{ game['name'] }}</td>
            <td>{{ game['rating'] }}</td>
            <td>{{ game['review'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
